---
layout: default
---

<div class="home">
  <a class="rss-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">
    {{site.rss[site.active_lang]}}
  </a>
  <h1 class="page-heading">{{site.articles[site.active_lang]}}</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>

        <div class="post-excerpt">
          {%   if post.content contains site.excerpt_separator or post.content != post.excerpt %}{{ post.excerpt }}
          {%   else %}{{ post.content | lstrip | split: "
" | first }}{% endif %}
          <p>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More &raquo;</a>
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">{{site.prev[site.active_lang]}}</a>
  {% else %}
    <span class="previous">{{site.prev[site.active_lang]}}</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">{{site.next[site.active_lang]}}</a>
  {% else %}
    <span class="next ">{{site.next[site.active_lang]}}</span>
  {% endif %}
</div>

</div>
