<footer class="footer">
<div class="wrapper">
&copy; 2018 {{ site.title[site.active_lang] }}
</div>
</footer>

<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});</script>
<script src="{{ "/js/easybook.js" | prepend: site.baseurl }}"></script>
