<div class="header-placeholder"></div>
<header class="header">
  <div class="wrapper">
    <div id="sidebar-toggle">TOC</div>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title[site.active_lang] }}</a>
    <nav class="site-nav">
        <a class="page-link" href="{{ '/about/' | prepend: site.baseurl }}">{{ site.about[site.active_lang] }}</a>
        <a class="page-link" href="{{ '/category/' | prepend: site.baseurl }}">{{ site.category[site.active_lang] }}</a>
    </nav>
  </div>
</header>
